.btn {
  cursor: pointer;
}

.truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mainContainer {
  display: none;
  width: 100%;
  height: 100%;
}

.mainContainer .header {
  position: relative;
}

.mainContainer .header .linerLogoBtn {
  display: inline-block;
  margin-left: 7px;
  margin-top: 8px;
  margin-right: -3px;
  margin-bottom: 3.5px;
  width: 35px;
  height: 35px;
  background-image: url('../../images/main/liner-logo@3x.png');
  background-size: 16px 16px;
  background-position: 50% 50%;
}

.mainContainer .header .webTitleLabel {
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  max-width: 200px;
  position: absolute;
  left: 40px;
  top: 7px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: #272b31;
}

.mainContainer .header .closeBtn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
  height: 24px;
  background-image: url('../../images/main/close@3x.png');
  background-size: 24px 24px;
  background-position: 50% 50%;
}

.mainContainer .header .closeBtn:hover {
  background-color: #f6f8fa;
  border-radius: 20px;
}

.mainContainer .tagContainer {
  padding: 4px 6px 4px 6px;
  width: 236px;
  min-height: 24px;
  border-radius: 4px;
  border: solid 1px #eef1f4;
  background-color: #f6f8fa;
  cursor: pointer;
  margin: 0 auto;
}

.mainContainer .tagContainer .addTagsContainer .currentTags.tag {
  padding: 1px 5px;
}

.mainContainer .tagContainer.editing {
  height: auto;
}

.mainContainer .tagContainer.editing .addTagsContainer {
  display: none;
}

.mainContainer .tagContainer.editing .editTagsContainer {
  display: inline-block;
}

.mainContainer .tagContainer .tagIcon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url('../../images/main/tag-icon@3x.png');
  background-size: 24px 24px;
  background-position: 50% 50%;
  margin-top: 2.5px;
}

.mainContainer .tagContainer .tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
  padding: 1px 1px 1px 5px;
  border-radius: 4px;
  border: solid 1px #eef1f4;
  background-color: #eef1f4;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 20px;
  letter-spacing: -0.3px;
  color: #00bdb8;
  margin-left: 7px; 
  margin-top: 2.5px; 
  margin-bottom: 2.5px;
  cursor: auto;
  height: 20px;
}

.mainContainer .tagContainer .tag span {
  text-overflow: ellipsis;
  max-width: 190px;
  overflow: hidden;
  display: inline-block;  
}

.mainContainer .tagContainer .tag.focused {
  background-color: #dde1e7;
}

.mainContainer .tagContainer .tag:hover {
  background-color: #dde1e7;
}

.mainContainer .tagContainer .addTagsContainer .tag {
  cursor: pointer;
}

.mainContainer .tagContainer .tag .deleteTagBtn {
  cursor: pointer;
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: 8px 8px;
  background-position: 50% 50%;
  background-image: url('../../images/main/delete-tag@3x.png');
  vertical-align: middle;
  position: relative;
  padding: 3px;
  margin-left: 1px;
}

.mainContainer .tagContainer .addTagsLabel {
  display: inline-block;
  vertical-align: top;
  margin-left: 9px;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: -0.27px;
  color: #787d86;
  margin-top: 2.5px;
}

.mainContainer .tagContainer .editTagsContainer {
  display: none;
}

.mainContainer .tagContainer .editTagsContainer .tagInput {
  display: none;
  border: none;
  background-color: transparent;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.27px;
  color: #52565d;
  vertical-align: top;
  width: 100px;
  height: 24px;
  padding: 0;  
  outline: none;
  margin-left: 8px;
  margin-top: 1.5px;

  -webkit-touch-callout: auto; /* iOS Safari */
  -webkit-user-select: auto;   /* Chrome/Safari/Opera */
  -khtml-user-select: auto;    /* Konqueror */
  -moz-user-select: auto;      /* Firefox */
  -ms-user-select: auto;       /* Internet Explorer/Edge */
  user-select: auto;           /* Non-prefixed version, currently
                                not supported by any browser */
}

.mainContainer .tagContainer .editTagsContainer .tagInput::-webkit-input-placeholder { /* Edge */
  color: #969aa2;
}

.mainContainer .tagContainer .editTagsContainer .tagInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #969aa2;
}

.mainContainer .tagContainer .editTagsContainer .tagInput::placeholder {
  color: #969aa2;
}

.mainContainer .tagContainer .editTagsContainer .tagInput:focus {
  border: none;
}

.mainContainer .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;
  border-top: solid 1px #eef1f4;
}

.mainContainer .footer .shareBtn {
  margin-left: 12px;
  margin-top: 4px;
  display: inline-block;
  padding: 0 4px 0 0;
  border-radius: 5px;
}

.mainContainer .footer .shareBtn:hover {
  background-color: #f6f8fa;
}

.mainContainer .footer .shareBtn .icon {
  display: inline-block;
  background-image: url(../../images/main/share@3x.png);
  background-size: contain;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.mainContainer .footer .shareBtn .label {
  margin-left: 4px;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;
  color: #969aa2;
  vertical-align: middle;
}

.mainContainer .footer .goToDashboardBtn {
  position: absolute;
  right: 11px;
  padding: 5px;
  top: 6px;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--primary-500);
}

.mainContainer .footer .goToDashboardBtn .arrow {
  display: inline-block;
  margin-left: 4px;
  width: 5px;
  height: 8px;
  background-image: url('../../images/main/arrow-right-mint@3x.png');
}

.mainContainer .footer .goToDashboardBtn.hover {
  color: #00a7a0;
}

.feedbackView {
  position: fixed;
  z-index: 10;
  bottom: -32px;
  width: 100%;
  height: 32px;
  display: none;
}

.feedbackView .label {
  position: absolute;
  top: 10px;
  left: 16px;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--white);
  margin: 0;
}

.shareContainer {
  display: none;
  width: 100%;
  height: 100%;
}

.shareContainer .header {
  position: relative;
}

.shareContainer .header .backBtn {
  display: inline-block;
  margin-left: 5px;
  margin-top: 11px;
  margin-right: 2px;
  margin-bottom: 12px;
  width: 24px;
  height: 24px;
  background-image: url('../../images/main/back@3x.png');
  background-size: 16px 16px;
  background-position: 50% 50%;
}

.shareContainer .header .backBtn:hover {
  background-color: #f6f8fa;
  border-radius: 20px;
}

.shareContainer .header .headerLabel {
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  max-width: 210px;
  position: absolute;
  left: 35px;
  top: 4px;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 120%;
  letter-spacing: -0.3px;
  color: var(--grayscale2-800);
}

.shareContainer .shareMethods {
  margin-left: 20px;
}

.shareContainer .shareMethods .shareMethod {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 11px;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-position: 50% 50%;
}

.shareContainer .shareMethods .shareMethod:hover .shareHover {
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(39, 43, 49, 0.1);
  border-radius: 30px;
}

.shareContainer .shareMethods .shareMethod.facebook {
  background-image: url("../../images/main/facebook@3x.png");
}

.shareContainer .shareMethods .shareMethod.twitter {
  background-image: url("../../images/main/twitter@3x.png");
}

.shareContainer .shareMethods .shareMethod.linkedin {
  background-image: url("../../images/main/linkedin@3x.png");
}

.shareContainer .shareMethods .shareMethod.messenger {
  background-image: url("../../images/main/messenger@3x.png");
}

.shareContainer .shareMethods .shareMethod.line {
  background-image: url("../../images/main/line@3x.png");
}

.shareContainer .shareMethods .shareMethod.kakaotalk {
  background-image: url("../../images/main/kakaotalk@3x.png");
}

.shareContainer .shareMethods .shareMethod.mail {
  background-image: url("../../images/main/mail@3x.png");
}

.shareContainer .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 32px;
  border-top: solid 1px #eeeeee;
}

.shareContainer .footer .shareLinkLabel {
  position: relative;
  top: 10px;
  left: 16px;
  margin: 0;
  font-family: 'Roboto', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--grayscale2-800);
}

.shareContainer .footer .shareLinkLabel:hover {
  opacity: 0.8;
}

.shareContainer .footer .copyBtn {
  position: absolute;
  right: 9px;
  padding: 5px;
  top: 5px;
  font-family: 'Montserrat', 'Noto Sans JP', 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 100%;
  letter-spacing: normal;
  color: var(--primary-500);
}

.shareContainer .footer .copyBtn:hover {
  color: #00a7a0;
}

/* skeleton */
.skeleton {
  width: 100%;
  height: 100%;
}