<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Main Popover - LINER</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Noto+Sans+JP:400,500,700|Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./main-v4.css">
  </head>
  <body>
    <div class="mainContainer">
      <div class="header">
        <a class="linerLogoBtn" href="https://getliner.com/myhighlights/highlights" target="_blank"></a>
        <p class="webTitleLabel truncate"></p>
        <div class="closeBtn btn"></div>
      </div>
      <div class="tagContainer">
        <div class="addTagsContainer">
          <div class="tagIcon"></div>
          <div class="currentTags tag"></div>
          <div class="addTagsLabel"></div>  
        </div>
        <div class="editTagsContainer">
          <div class="tagIcon"></div>
          <input class="tagInput" placeholder="Search tags" />
        </div>
      </div>
      <div class="footer">
        <div class="shareBtn btn"><div class="icon"></div><span class="label"></span></div>
        <a class="goToDashboardBtn btn" href="https://getliner.com/myhighlights/highlights" target="_blank"><span></span> <div class="arrow"></div></a>
      </div>
    </div>
    <div class="shareContainer">
        <div class="header">
            <a class="backBtn btn"></a>
            <p class="headerLabel truncate"></p>
        </div>
        <div class="shareMethods">
            <a class="facebook shareMethod btn" target="_blank"><span class="shareHover"></span></a>
            <a class="twitter shareMethod btn" target="_blank"><span class="shareHover"></span></a>
            <a class="linkedin shareMethod btn" target="_blank"><span class="shareHover"></span></a>
            <a class="messenger shareMethod btn" target="_blank"><span class="shareHover"></span></a>
            <a class="line shareMethod btn" target="_blank"><span class="shareHover"></span></a>
            <a class="kakaotalk shareMethod btn"><span class="shareHover"></span></a>
            <a class="mail shareMethod btn" target="_blank"><span class="shareHover"></span></a>
        </div>
        <div class="footer">
          <a class="shareLinkLabel btn"></a>
          <a class="copyBtn btn"></a>
        </div>
    </div>
    <div class="feedbackView">
      <p class="label"></p>
    </div>
    <lottie-player class="skeleton" src="./main-skeleton.json" background="transparent" speed="1" loop autoplay></lottie-player>
  </body>
  <script src="../lottie-player.js"></script>
  <script src="../common.js" charset="utf-8"></script>
  <script src="../../liner-core.be.js" charset="utf-8"></script>
  <script src="./main-v4.js" charset="utf-8"></script>
</html>