iframe.liner-popover.liner-popover-login {
  position: fixed !important;
  z-index: 99999999999999999999 !important;

  width: 310px !important;
  height: 160px !important;
  box-shadow: 0 4px 8px 0 rgba(39, 43, 49, 0.2) !important;
  border-radius: 8px !important;
  border: solid 0px transparent !important;
  background-color: #efefef !important;
  margin: 0 !important;
  padding: 0 !important;
  left: initial !important;
  right: 20px !important;

  /* Luke - 바뀌는 어트리뷰트 */
  opacity: 0; /* 0 -> 1 */
  top: -160px; /* -160px -> 20px  */
}
