<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login - LINER</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Noto+Sans+JP:400,500,700|Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./login.css">
  </head>
  <body>
    <h1 class="titleLabel">LINER for <span class="browser">Desktop</span></h1>
    <div class="container">
      <p class="label"></p>
      <a class="loginBtn" href="https://getliner.com/signup" target="_blank"></a>
    </div>
  </body>
  <script src="../common.js" charset="utf-8"></script>
  <script src="../../liner-core.be.js" charset="utf-8"></script>
  <script src="./login.js" charset="utf-8"></script>
</html>
