<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IAM - LINER</title>
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./iam.css">
  </head>
  <body>
      <a class="iamLink" target="_blank" href="#">
          <img class="iamBannerImage">
      </a>
      <a class="iamCloseBtn" href="#"></a>
  </body>
  <script src="../common.js" charset="utf-8"></script>
  <script src="../../liner-core.be.js" charset="utf-8"></script>
  <script src="./iam.js" charset="utf-8"></script>
</html>
