.iamLink {
    display: block;
    width: 100%;
    height: 100vh;
}

.iamCloseBtn {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.iamBannerImage {
    display: block;
    widows: 100%;
    height: 100vh;
}