iframe.liner-popover.liner-popover-tag {
  position: fixed !important;
  z-index: 99999999999999999999 !important;

  width: 248px !important;
  height: 180px !important;
  max-height: 180px !important;
  min-height: 180px !important;
  border-radius: 8px !important;
  box-shadow: 0 10px 20px 0 rgba(39, 43, 49, 0.1) !important;
  border: solid 1px #eef1f4 !important;
  background-color: #ffffff !important;
  margin: 0 !important;
  padding: 8px 0px 8px 0px !important;
  left: initial !important;
  right: 36px !important;
  /* Luke - 바뀌는 어트리뷰트 */
  display: none;
  top: 108px;
}
