<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tag Popover - LINER</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Noto+Sans+JP:400,500,700|Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./tag.css">
  </head>
  <body>
    <div class="errorContainer">
      <span class="errorLabel"></span>
    </div>
    <div class="myTagContainer">
      <div class="titleLabel"></div>
      <div class="tags">
      </div>
    </div>
    <div class="suggestedTagContainer">
      <div class="titleLabel"></div>
      <div class="tags">
      </div>
    </div>
    <div class="createTagContainer">
      <a class="createTagBtn"></a>
    </div>
  </body>
  <script src="../common.js" charset="utf-8"></script>
  <script src="../../liner-core.be.js" charset="utf-8"></script>
  <script src="./tag.js" charset="utf-8"></script>
</html>