<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tag Popover - LINER</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Noto+Sans+JP:400,500,700|Noto+Sans+KR:400,500,700|Roboto:400,500,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../common.css">
    <link rel="stylesheet" href="./recommendation.css">
  </head>
  <body>
    <div class="headerContainer">
      <p class="headerLabel"><span class="label"></span><span class="documentCount"></span></p>
      <div class="toggleBtn"></div>
      <svg class="spinner2" viewBox="0 0 50 50">
        <circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5" stroke="#b2ebe9"></circle>
      </svg>
    </div>
    <div class="recommendationContainer"></div>
    <div class="upgradeContainer">
      <div class="upgradeContainerDivider"></div>
      <div class="upgradeImage"></div>
      <p class="upgradeTitleLabel"></p>
      <p class="upgradeDescLabel"></p>
      <a class="upgradeBtn" href="https://getliner.com/upgrade" target="_blank"></a>
    </div>
    <div class="spinner">
      <div class="loader">
          <div class="loader-inner">
              <div class="box box-1"></div>
              <div class="box box-2"></div>
              <div class="box box-3"></div>
          </div>
      </div>
    </div>
  </body>
  <script src="../common.js" charset="utf-8"></script>
  <script src="../../liner-core.be.js" charset="utf-8"></script>
  <script src="./recommendation-v2.js" charset="utf-8"></script>
</html>